{% extends "admin/shared/base.twig" %}

{% block content %}
	
	<div id="login-container" class="row-fluid">
		
		<div id="login-header">
			<h3>{{ _('admin.verbs.login') }}</h3>
		</div> <!-- #login-header -->
		
		{% set main_alert = get_flash('main_alert') %}
		{% if main_alert %}
		<!-- Alert area! -->
		<div class="alert {{ main_alert.attributes.class }}">
		    <button class="close" data-dismiss="alert">×</button>
		    {{ main_alert.msg }}
		</div>
		{% endif %}
		
		<div id="login-content" class="clearfix">
			
			<form method="post" action="/admin/login">
				
				<input type="hidden" value="{{ form_val('next', 'admin') }}" name="next" />
				
				
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="form_username">{{ _('admin.common.username') }}</label>
						<div class="controls-row">
							<input type="text" class="span12" id="form_username" name="username" value="{{ form_val('username') }}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="form_password">{{ _('admin.common.password') }}</label>
						<div class="controls-row">
							<input type="password" class="span12" id="form_password" name="password">
						</div>
					</div>
				</fieldset>
				
				<div class="pull-right">
					<button type="submit" class="btn-primary btn-large">{{ _('admin.verbs.login') }}</button>
				</div>
				
			</form>
			
		</div> <!-- #login-content -->
		
		<!-- div id="login-extra">
			<p><a href="#">Forgotten your password?</a></p>
		</div --> <!-- #login-extra -->
		
	</div> <!-- #login-container -->
	
{% endblock %}