{% extends "admin/shared/base.twig" %}

{% block content %}
	
	<div id="login-container" class="row-fluid">
		
		<div id="login-header">
			<h3>Reset Password</h3>
		</div> <!-- #login-header -->
		
		{% set main_alert = get_flash('main_alert') %}
		{% if main_alert %}
		<!-- Alert area! -->
		<div class="alert {{ main_alert.attributes.class }}">
		    <button class="close" data-dismiss="alert">×</button>
		    {{ main_alert.msg }}
		</div>
		{% endif %}
		
		<div id="login-content" class="clearfix">
			
			<form method="post" action="{{ url('/admin/resetpassword') }}">
				
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="form_password">Enter your new password</label>
						<div class="controls-row">
							<input type="text" class="span12" id="form_password" name="password" value="{{ form_val('password') }}">
						</div>
					</div>
                                        <div class="control-group">
						<label class="control-label" for="form_confirm_password">Confirm password</label>
						<div class="controls-row">
							<input type="text" class="span12" id="form_confirm_password" name="confirm_password" value="{{ form_val('confirm_password') }}">
						</div>
					</div>
				</fieldset>
				
				<div class="pull-right">
					<button type="submit" class="btn-primary btn-large">Submit</button>
				</div>
				
			</form>
			
		</div> <!-- #login-content -->
		
		<!-- div id="login-extra">
			<p><a href="#">Forgotten your password?</a></p>
		</div --> <!-- #login-extra -->
		
	</div> <!-- #login-container -->
	
{% endblock %}