{% if settings.title %}<label class="item-label">{{ settings.title }}</label>{% endif %}

<input type="hidden" name="{{ settings.mapping.fieldName }}[src]" value="{{ value.src }}" />
<input type="hidden" name="{{ settings.mapping.fieldName }}[width]" value="{{ value.width }}" />
<input type="hidden" name="{{ settings.mapping.fieldName }}[height]" value="{{ value.height }}" />

<!-- crop info -->
{% for crop in settings.crop %}
<input type="hidden" name="{{ settings.mapping.fieldName }}[crop][{{ crop.id }}][x]" value="{{ value.crop[crop.id].x }}" />
<input type="hidden" name="{{ settings.mapping.fieldName }}[crop][{{ crop.id }}][y]" value="{{ value.crop[crop.id].y }}" />
<input type="hidden" name="{{ settings.mapping.fieldName }}[crop][{{ crop.id }}][width]" value="{{ value.crop[crop.id].width }}" />
<input type="hidden" name="{{ settings.mapping.fieldName }}[crop][{{ crop.id }}][height]" value="{{ value.crop[crop.id].height }}" />
<input type="hidden" name="{{ settings.mapping.fieldName }}[crop][{{ crop.id }}][scale]" value="{{ value.crop[crop.id].scale|default('100') }}" />
{% endfor %}

<div class="async-upload{{ value.src ? ' populated' : '' }}"></div>