<div class="controls control-group field-type-permissions">
	<input type="hidden" name="{{ settings.mapping.fieldName }}" value="" />
	<table class="table table-condensed table-striped table-hover checkbox-matrix">
		<tr>
			<th class="item-label">{{ resources[0].title ? resources[0].title : _('admin.common.resources') }}</th>
			{% for action in actions %}
		    <th class="item-action"><label><span>{{ action }}</span> <input type="checkbox" data-action="{{ action }}" class="all-items" value="1" /></label></th>
		    {% endfor %}
		    <th class="item-action"><label><span>{{ _('admin.common.all')|lower }}</span> <input type="checkbox" data-action="all" class="all-items" value="1" /></label></th>
		</tr>
		{% for resource_group in resources %}
			
			{% if resource_group.title and loop.index > 1 %}
			<tr>
				<td class="row-divider" colspan="{{ actions|length + 2 }}">{{ resource_group.title }}</td>
			</tr>
			{% endif %}
			{% for resource_id, resource in resource_group.classes %}
			<tr class="item-row" data-item-id="{{ resource_id }}">
			    <td class="item-label"><i class="item-icon fa fa-{{ resource.icon }}"></i> {{ resource.title }}</td>
			    {% for action in actions %}
			    <td class="item-action">{% if action in resource.actions %}
			    	<input type="hidden" name="{{ settings.mapping.fieldName }}[{{ resource_id }}][{{ action }}]" value="0" />
			    	<label><input type="checkbox" data-action="{{ action }}" name="{{ settings.mapping.fieldName }}[{{ resource_id }}][{{ action }}]" value="1"{% if action in resource.values %} checked{% endif %} /></label>{% endif %}</td>
			    {% endfor %}
			    <td class="item-action">
			    	<input type="hidden" name="{{ settings.mapping.fieldName }}[{{ resource_id }}][all]" value="0" />
			    	<label><input type="checkbox" class="all-actions" data-action="all" name="{{ settings.mapping.fieldName }}[{{ resource_id }}][all]" value="1"{% if 'all' in resource.values %} checked{% endif %} /></label></td>
			</tr>
			    
			{% endfor %}
			
		{% endfor %}
	</table>
</div>