{% extends interface_template|default("admin/shared/interface.twig") %}

{% block html_title %}{% if static %}{{ form.singular }}{% else %}{{ _('admin.common.new_resource', { resource:form.singular }) }}{% endif %} : {{ admin_title }}{% endblock %}

{% block main_pane %}
    
    {% include 'admin/shared/alert.twig' %}
    
    <form action="?{{ qs }}" method="post" class="item-form" enctype="multipart/form-data">
    
    <input type="hidden" name="_mode" value="{{ mode }}" />
    <input type="hidden" name="_cid" value="{{ cid }}" />
    
    <div class="inner">

        <h2 class="main-heading"><i class="fa fa-{{ form.icon }}"></i>{% if static %}{{ form.singular }}{% else %} {{ _('admin.common.new_resource', { resource:form.singular }) }}{% endif %}</h2>
        
        {% if form.content|length > 1 %}
        <ul class="nav nav-pills">
            {% for tab in form.content %}
            <li class="{{ loop.index == 1 ? 'active' : '' }}"><a href="#tab-{{ tab.slug }}" data-toggle="tab">{{ tab.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
            
        <!-- START ITEM EDIT FORM -->
        
        <div class="tab-content">
            
            {% for tab in form.content %}
            
            <div class="tab-pane {{ loop.index == 1 ? 'active' : '' }}" id="tab-{{ tab.slug }}">
                {% if loop.first %}{% include 'admin/shared/description.twig' with {'description':description}%}{% endif %}
                {% for group in tab.groups %}
                    
                    <div class="row-fluid">
                    <div class="widget{{ (group.collapsible and tab.groups|length > 1) ? ' collapsible' : '' }}{{ (group.closed and tab.groups|length > 1) ? ' closed' : '' }} span12 {{ group.class }}">
                        
                        <div class="widget-title">
                            <h3><i class="fa fa-{{ group.icon }}"></i> {{ group.title }}</h3>
                        </div>
                        <div class="widget-content">
                            
                            {% for field in group.fields %}
                            
                            {{ form.fields[field].content }}
                            
                            {% endfor %}
                            
                        </div>
                        
                    </div>
                    </div>
                    
                {% endfor %}
                
            </div>
            
            {% endfor %}
            
        </div>
        
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}    
        {% endfor %}
        
        <!-- END ITEM EDIT FORM -->
    
    </div> <!-- .inner -->

{% endblock %}

{% block bottom %}

    <div id="controls-fixed-bot"><div class="inner">

        <div class="status pull-left">
            <!-- span>Page rendered in {exec_time}s using {mem_usage}mb of memory.</span -->
        </div>

        <div class="actions pull-right">
            <button data-loading-text="{{ _('admin.common.creating_resource', { resource:form.singular }) }}" class="btn btn-large btn-primary submit-item" autocomplete="off"><i class="fa fa-ok icon-white"></i> 
                {% if static %}
                    {{ _('admin.common.save_resource', { resource:form.singular }) }}
                {% else %}
                    {{ _('admin.common.create_resource', { resource:form.singular }) }}
                {% endif %}
            </button>
            {% if not static and not (mode == 'inline') %}<button name="create_new" value="1" data-loading-text="{{ _('admin.common.creating_resource', { resource:form.singular }) }}" class="btn btn-large btn-success submit-item" autocomplete="off"><i class="fa fa-ok icon-white"></i> {{ _('admin.common.create_add_another') }}</button>{% endif %}
        </div>

    </div></div>

    </form>
    
    

{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ base_url }}">{{ dashboard_title }}</a> <span class="divider">/</span></li>
    <li><a href="{{ admin_url('/'~root_table_name~'/list') }}">{{ root_plural}}</a> <span class="divider">/</span></li>
    <li class="active">{{ form.singular }}</li>
{% endblock %}

{% block admin_css %}
    {{ parent() }}
    {% for css in form.assets.css %}
        <link rel="stylesheet" type="text/css" href="{% if 'http://' not in css and 'https://' not in css %}{{ admin_url(css) }}{{ ('?' in css) ? '&' : '?' }}v=28{% else %}{{ css }}{% endif %}">
    {% endfor %}
{% endblock %}

{% block admin_js %}
    {{ parent() }}
    {% for js in form.assets.js %}
        <script type="text/javascript" src="{% if 'http://' not in js and 'https://' not in js %}{{ admin_url(js) }}{{ ('?' in js) ? '&' : '?' }}v=28{% else %}{{ js }}{% endif %}"></script>
    {% endfor %}
    <script type="text/javascript">
        var field_settings = {{ form.js_field_settings|json_encode }};
        var field_values = {};
    </script>
{% endblock %}
