{% extends interface_template|default("admin/shared/interface.twig") %}

{% macro action_link(action_id, action, model, table, context) %}
    {{ include(template_from_string(action.content|default("
    <a class=\"btn {{ action.class|default('btn-info') }}\" href=\"{{ include(template_from_string(action.href)) }}\">
        <i class=\"icon icon-{{ action.icon|default('cog') }}\"></i>&nbsp; {{ action.title }}
    </a>"))) }}
{% endmacro %}

{% macro action_method(action_id, action, model, table, context) %}
    {{ include(template_from_string(action.content|default("
    <a class=\"btn {{ action.class|default('btn-info') }}\" href=\"/admin/{{ table }}/{{ model.id }}/{{ action_id }}\" rel=\"tooltip\" title=\"{{ action.title }}\">
        <i class=\"icon icon-{{ action.icon|default('cog') }}\"></i>
    </a>"))) }}
{% endmacro %}

{% import _self as this %}

{% block html_title %}Edit {{ form.singular }} : {{ admin_title }}{% endblock %}

{% block main_pane %}
    
    {% include 'admin/shared/alert.twig' %}
    
    <form action="?{{ qs|raw }}" method="post" class="item-form" enctype="multipart/form-data">
    
    <input type="hidden" name="_mode" value="{{ mode }}" />
    <input type="hidden" name="_cid" value="{{ cid }}" />
    
    <div class="inner">

        <h2 class="main-heading pull-left"><i class="icon icon-{{ form.icon }}"></i> Edit {{ form.singular }}</h2>
        <div class="item-actions-top pull-right">
            {% for action_id, action in actions if action.edit is not defined or action.edit != false %}
            {{ attribute(this, 'action_'~action.type, [action_id, action, model, table_name, 'list']) }}
            {% endfor %}
        </div>
        <div class="clear"></div>
        
        {% if form.content|length > 1 %}
        <ul class="nav nav-pills">
            {% for tab in form.content %}
            <li class="{{ loop.index == 1 ? 'active' : '' }}"><a href="#tab-{{ tab.slug }}" data-toggle="tab">{{ tab.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
            
        <!-- START ITEM EDIT FORM -->
        
        <div class="tab-content">
            
            {% for tab in form.content %}
            
            <div class="tab-pane {{ loop.index == 1 ? 'active' : '' }}" id="tab-{{ tab.slug }}">
                
                {% for group in tab.groups %}
                    
                    <div class="row-fluid">
                    <div class="widget{{ (group.collapsible and tab.groups|length > 1) ? ' collapsible' : '' }}{{ (group.closed and tab.groups|length > 1) ? ' closed' : '' }} span12 {{ group.class }}">
                        
                        <div class="widget-title">
                            <h3><i class="icon icon-{{ group.icon }}"></i> {{ group.title }}</h3>
                        </div>
                        <div class="widget-content">
                            
                            {% for field in group.fields %}
                            
                            {{ form.fields[field].content }}
                            
                            {% endfor %}
                            
                        </div>
                        
                    </div>
                    </div>
                    
                {% endfor %}
                
            </div>
            
            {% endfor %}
            
        </div>
        
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}    
        {% endfor %}
        
        <!-- END ITEM EDIT FORM -->
    
    </div> <!-- .inner -->

{% endblock %}

{% block bottom %}

<div id="controls-fixed-bot"><div class="inner">

    <div class="status pull-left">
        Item was last updated <span class="updated-at">{{ model.get('updated_at')|date("d/m/Y \\a\\t H:i:s", "Europe/London") }}</span>
        <!-- span>Page rendered in {exec_time}s using {mem_usage}mb of memory.</span -->
    </div>

    <div class="actions pull-right">
        <button data-loading-text="Saving {{ form.singular }}..." class="btn btn-large btn-primary submit-item" autocomplete="off"><i class="icon-ok icon-white"></i> Save</button>
        {% if can_delete %}
        <a href="delete{{ mode == 'inline' ? '?_mode=inline&_cid='~cid : '' }}" class="btn btn-large btn-danger btn-remove padleft" data-singular="{{ form.singular }}"><i class="icon-remove icon-white"></i> Delete</a>
        {% endif %}
    </div>

</div></div>

</form>

{% endblock %}

{% block breadcrumb %}

<li><a href="{{ base_url }}">{{ dashboard_title }}</a> <span class="divider">/</span></li>
{% if not static %}<li><a href="/admin/{{ table_name }}">{{ form.plural }}</a> <span class="divider">/</span></li>{% endif %}
<li class="active">{{ model.display() }}</li>

{% endblock %}

{% block admin_css %}
    {% for css in form.assets.css %}
        <link rel="stylesheet" type="text/css" href="{{ css }}{{ ('?' in css) ? '&' : '?' }}v=10">
    {% endfor %}
{% endblock %}

{% block admin_js %}
    {{ parent() }}
    {% for js in form.assets.js %}
        <script type="text/javascript" src="{{ js }}{{ ('?' in js) ? '&' : '?' }}v=10"></script>
    {% endfor %}
    <script type="text/javascript">
        var field_settings = {{ form.js_field_settings|json_encode }};
        var field_values = {};
    </script>
{% endblock %}
