{% extends interface_template|default("admin/shared/interface.twig") %}

{% macro action_link(action_id, action, model, table, context) %}
    {{ include(template_from_string(action.content|default("
    <a class=\"btn {{ action.class|default('btn-info') }}\" href=\"{{ include(template_from_string(action.href)) }}\">
        <i class=\"fa fa-{{ action.icon|default('cog') }}\"></i>&nbsp; {{ action.title }}
    </a>"))) }}
{% endmacro %}

{% macro action_method(action_id, action, model, table, context) %}
    {{ include(template_from_string(action.content|default("
    <a class=\"btn {{ action.class|default('btn-info') }}\" href=\"{{ admin_url('/'~table~'/'~model.id~'/'~action_id) }}\" rel=\"tooltip\" title=\"{{ action.title }}\">
        <i class=\"fa fa-{{ action.icon|default('cog') }}\"></i>
    </a>"))) }}
{% endmacro %}

{% import _self as this %}

{% block html_title %}{{ _('admin.common.edit_resource', { resource:form.singular }) }} : {{ admin_title }}{% endblock %}

{% block main_pane %}
    
    {% include 'admin/shared/alert.twig' %}
    
    <form action="?{{ qs|raw }}" method="post" class="item-form" enctype="multipart/form-data">

    {{ array_as_hidden_inputs(model.settings, 'settings') }}
    <input type="hidden" name="_mode" value="{{ mode }}" />
    <input type="hidden" name="_cid" value="{{ cid }}" />
    
    <div class="inner">

        <h2 class="main-heading pull-left"><i class="fa fa-{{ form.icon }}"></i> {{ _('admin.common.edit_resource', { resource:form.title }) }}</h2>
        <div class="item-actions-top pull-right">
            {% for action_id, action in actions if action.edit is not defined or action.edit != false %}
            {{ attribute(this, 'action_'~action.type, [action_id, action, model, table_name, 'list']) }}
            {% endfor %}
        </div>
        {% if viewLink %}
            <div class="preview-row clear pull-right">
                <a href="{{ viewLink }}" target="_blank" class="btn btn-success">View on site &nbsp;<i class="fa fa-chevron-right"></i></a>
            </div>
        {% endif %}
        <div class="clear"></div>
        
        {% if form.content|length > 1 %}
        <ul class="nav nav-pills">
            {% for tab in form.content %}
            <li class="{{ loop.index == 1 ? 'active' : '' }}"><a href="#tab-{{ tab.slug }}" data-toggle="tab">{{ tab.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
            
        <!-- START ITEM EDIT FORM -->

        {% if row.settings.imported_from and row.settings.original_id %}
            {% set append = ' &nbsp;<i class="muted">'~_('admin.import.imported_from_location', { location:get_hostname(row.settings.imported_from) })~'</i>' %}
        {% elseif row.settings.original_id %}
            {% set append = ' &nbsp;<i class="muted">'~_('admin.import.imported')~'</i>' %}
        {% endif %}
        
        <div class="tab-content">
            
            {% for tab in form.content %}
            
            <div class="tab-pane {{ loop.index == 1 ? 'active' : '' }}" id="tab-{{ tab.slug }}">
                {% if loop.first %}{% include 'admin/shared/description.twig' with {'description':description}%}{% endif %}
                {% for group in tab.groups if (group.visible is not defined or group.visible != false) %}
                    
                    <div class="row-fluid">
                    <div class="widget{{ (group.collapsible and tab.groups|length > 1) ? ' collapsible' : '' }}{{ (group.closed and tab.groups|length > 1) ? ' closed' : '' }} span12 {{ group.class }}">
                        
                        <div class="widget-title">
                            <h3><i class="fa fa-{{ group.icon }}"></i> {{ group.title }}</h3>
                        </div>
                        <div class="widget-content">
                            
                            {% for field in group.fields %}
                            
                            {{ form.fields[field].content }}
                            
                            {% endfor %}
                            
                        </div>
                        
                    </div>
                    </div>
                    
                {% endfor %}
                
            </div>
            
            {% endfor %}
            
        </div>
        
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}    
        {% endfor %}
        
        <!-- END ITEM EDIT FORM -->
    
    </div> <!-- .inner -->

{% endblock %}

{% block bottom %}

<div id="controls-fixed-bot"><div class="inner">

    <div class="status pull-left">
        {{ _('admin.common.last_updated_at', { date:'<span class="updated-at">'~(model.get('updated_at')|date("d/m/Y \\a\\t H:i:s", config('default_timezone', "Europe/London")))~'</span>' }) }}
        <!-- span>Page rendered in {exec_time}s using {mem_usage}mb of memory.</span -->
    </div>

    <div class="actions pull-right">
        {% if not (mode == 'inline') %}
        <button name="saveAndClose" value="true" data-loading-text="{{ _('admin.common.saving_resource', { resource:form.singular }) }}..." class="btn btn-large btn-primary submit-item" autocomplete="off"><i class="fa fa-ok icon-white"></i> {{ _('admin.common.save_and_close') }}</button>
        {% endif %}
        <button data-loading-text="{{ _('admin.common.saving_resource', { resource:form.singular }) }}..." class="btn btn-large btn-success submit-item" autocomplete="off"><i class="fa fa-ok icon-white"></i> {{ _('admin.verbs.save') }}</button>
        {% if can_delete %}
        <a href="delete{{ mode == 'inline' ? '?_mode=inline&_cid='~cid : '' }}" class="btn btn-large btn-danger btn-remove padleft" data-singular="{{ form.singular }}"><i class="fa fa-remove icon-white"></i> {{ _('admin.verbs.delete') }}</a>
        {% endif %}
    </div>

</div></div>

</form>

{% endblock %}

{% block breadcrumb %}

<li><a href="{{ base_url }}">{{ dashboard_title }}</a> <span class="divider">/</span></li>
<li><a href="{{ admin_url('/'~root_table_name) }}">{{ root_plural }}</a> <span class="divider">/</span></li>
<li class="active">{{ model.display() }}</li>

{% endblock %}

{% block admin_css %}
    {{ parent() }}
    {% for css in form.assets.css %}
        <link rel="stylesheet" type="text/css" href="{% if 'http://' not in css and 'https://' not in css %}{{ admin_url(css) }}{{ ('?' in css) ? '&' : '?' }}v=28{% else %}{{ css }}{% endif %}">
    {% endfor %}
{% endblock %}

{% block admin_js %}
    {{ parent() }}
    {% for js in form.assets.js %}
        <script type="text/javascript" src="{% if 'http://' not in js and 'https://' not in js %}{{ admin_url(js) }}{{ ('?' in js) ? '&' : '?' }}v=28{% else %}{{ js }}{% endif %}"></script>
    {% endfor %}
    <script type="text/javascript">
        var field_settings = {{ form.js_field_settings|json_encode }};
        var field_values = {};
    </script>
{% endblock %}
