{% extends interface_template|default("admin/shared/interface.twig") %}

{% macro action_link(action_id, action, model, table, context) %}
    {{ include(template_from_string(action.content|default("
    <a class=\"btn btn-small btn-icon {{ action.class|default('btn-info') }}\" href=\"{{ include(template_from_string(action.href)) }}\" rel=\"tooltip\" title=\"{{ action.title }}\">
        <i class=\"fa fa-{{ action.icon|default('cog') }}\"></i>
    </a>
    "))) }}
{% endmacro %}

{% macro action_method(action_id, action, model, table, context) %}
    {{ include(template_from_string(action.content|default("
    <a class=\"btn btn-small btn-icon {{ action.class|default('btn-info') }}\" href=\"/admin/{{ table }}/{{ model.id }}/{{ action_id }}\" rel=\"tooltip\" title=\"{{ action.title }}\">
        <i class=\"fa fa-{{ action.icon|default('cog') }}\"></i>
    </a>"))) }}
{% endmacro %}

{% import _self as this %}

{% block html_title %}{{ plural }} List : {{ admin_title }}{% endblock %}

{% block main_pane %}
    
    {% include 'admin/shared/alert.twig' %}
    
    <div class="inner">
        
        {% set has_filters = searchable or (filters and filters|length > 0) %}
        <h2 class="main-heading"><i class="fa fa-{{ icon }}"></i> {{ plural }} <small>{% if not pagination %}({{ rows|length }}){% elseif page_count > 1 %}(page {{ current_page }} of {{ page_count }}){% endif %}</small></h2>
        {% if has_filters %}<form action="" method="get" class="list-filter-form">{% endif %}
        {% if searchable %}
            <div class="search list-filter-wrap">
                <div class="form-search form-horizontal">
                  <input name="query" type="text" class="input-medium search-query" value="{{query}}" placeholder="{{ _('admin.verbs.search') }}">
                  <button type="submit" class="btn">{{ _('admin.verbs.search') }}</button>
                </div>
            </div>
        {% endif %}
        {% set filters_set = false %}
        {% if filters and filters|length > 0 %}
            {% for filter_field, list_filter in filters %}
                <div class="form-filter list-filter-wrap form-horizontal">
                    {% if form_val(filter_field) is not empty %}
                        {% set filters_set = true %}
                    {% endif %}
                    <label>{{ list_filter.label }}</label> {{ form_select(filter_field, form_val(filter_field), list_filter.options, { 'class':'select2 list-filter-select' }) }}
                </div>
            {% endfor %}
        {% endif %}
        {% if has_filters %}</form>{% endif %}
        {% if (query is not empty) or filters_set %}
            <div class="list-filter-reset">
                <form class="pull-left" action="" method="get">
                    <input type="hidden" class="input-medium search-query" value="">
                    {% if filters and filters|length > 0 %}
                        {% for filter_field, list_filter in filters %}
                            <input type="hidden" name="{{ filter_field }}" value="" />
                        {% endfor %}
                    {% endif %}
                    <button type="submit" class="btn btn-mini">{{ _('admin.common.reset_filters') }}</button>
                </form>
                {% if (query is not empty) %}<p>&nbsp; {{ _('admin.common.search_results_for', { query:query }) }}</p>{% endif %}
            </div>
        {% endif %}
        <div class="clearfix"></div>
        {% if pagination %}
            <div class="pagination">
                {{pagination}}
            </div>
        {% endif %}
        {% if tabs|length > 1 %}
        <ul class="nav nav-pills">
            {% for tab_id, tab in tabs %}
            <li class="{{ current_tab == tab_id ? 'active' : '' }}"><a href="/admin/{{ table_name }}{{ loop.first ? '' : '/'~tab_id }}">{{ tab.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="actions-top-right">
            {% if can_manage %}
            {% if can_import %}<a href="/admin/{{ table_name }}/import" class="btn btn-success btn-permissions" title="{{ _('admin.verbs.import') }}"><i class="fa fa-circle-arrow-down"></i> {{ _('admin.verbs.import') }}</a>{% endif %}
            <a href="/admin/{{ table_name }}/permissions" class="btn btn-icon btn-inverse btn-permissions" title="{{ _('admin.common.edit_resource_permissions', { resource:singular|lower }) }}"><i class="fa fa-lock"></i></a>
            {% endif %}
        </div>
        <div class="clear"></div>

        <div class="item-list">

            <div class="row-fluid">
        
                <table class="table table-striped table-bordered selectable fixed-head table-hover{{ sortable ? ' sortable' : '' }}{{ sort_process ? ' sort-process' : '' }}">
                    
                    <thead>
                        <tr>
                            {% for column in columns %}
                            {% if column.type == 'handle' %}
                            <th class="handle"></th>
                            {% else %}
                            <th class="col-type-{{ column.type }}">{{ column.heading|default('-') }}</th>
                            {% endif %}
                            {% endfor %}
                            <th class="actions"></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for row in rows if row.id not in excluded_ids %}
                        
                        {% if class_lang_enabled %}
                        {% set has_translations = lang_enabled and row._translated|length > 0 %}
                        {% set has_all_translations = lang_enabled and row.hasAllTranslations() %}
                        <tr data-id="{{ row.id }}"{% if sortable %} data-sort-group="{{ row.sortGroupId() }}"{% endif %} class="{% if not has_translations %}no-translations{% elseif not has_all_translations %}incomplete-translations{% endif %}">
                        {% else %}
                        <tr data-id="{{ row.id }}"{% if sortable %} data-sort-group="{{ row.sortGroupId() }}"{% endif %}>
                        {% endif %}
                            {% set editable = can_edit and (item_permissions[row.id]|length == 0 or 'edit' in item_permissions[row.id]) %}
                            {% set deletable = can_delete and (item_permissions[row.id]|length == 0 or 'delete' in item_permissions[row.id]) %}
                            {% set edit_link = "/admin/"~row.metadata().table.name~"/"~row.get('id')~"/edit" %}
                            {% set duplicate_link = "/admin/"~row.metadata().table.name~"/"~row.get('id')~"/duplicate" %}
                            {% set isFirst = true %}
                            {% for column in columns %}
                                {% set append = '' %}
                                {% if (column.type == 'text' or column.type == 'textarea') and isFirst %}
                                    {% if row.settings.imported_from and row.settings.original_id %}
                                        {% set append = ' &nbsp;<i class="muted">imported from '~get_hostname(row.settings.imported_from)~'</i>' %}
                                    {% elseif row.settings.original_id %}
                                        {% set append = ' &nbsp;<i class="muted">imported</i>' %}
                                    {% endif %}
                                    {% set isFirst = false %}
                                {% endif %}
                                {% if column.type == 'handle' %}
                                <td class="handle"><div><i class="fa fa-arrows"></i></div></td>
                                {% elseif column.type == 'method' %}
                                <td class="col-type-{{ column.type }}"><a href="{{ editable ? edit_link : '' }}" class="item-link">{{ row.get(column.name) }}{{ append }}</a></td>
                                {% elseif column.type == 'join' %}
                                <td class="col-type-{{ column.type }}"><a href="{{ editable ? edit_link : '' }}" class="item-link">{{ row.get(column.join).get(column.name) }}{{ append }}</a></td>
                                {% elseif column.type == 'lang' %}
                                <td class="col-type-{{ column.type }}">
                                    {% if not has_translations %}
                                    <img class="lang-flag default" src="/admin/assets/img/lang/{{ default_language() }}.png" />
                                    {% elseif not has_all_translations %}
                                    <img class="lang-flag" src="/admin/assets/img/lang/{{ default_language() }}.png" />
                                    <img class="lang-flag" src="/admin/assets/img/lang/{{ language() }}.png" />
                                    {% else %}
                                    <img class="lang-flag" src="/admin/assets/img/lang/{{ language() }}.png" />
                                    {% endif %}
                                </td>
                                {% else %}
                                <td class="col-type-{{ column.type }}">{{ field_list_value(row.get(column.name), editable ? edit_link : false, fields[column.name], row)|default('(empty)') }}{{ append }}</td>
                                {% endif %}
                            {% endfor %}
                            <td class="actions"><span>
                                {% for action_id, action in actions if action.list is not defined or action.list != false %}
                                {{ attribute(this, 'action_'~action.type, [action_id, action, row, table_name, 'list']) }}
                                {% endfor %}{% if editable %}<a class="btn btn-small btn-icon" href="{{ edit_link }}" rel="tooltip" title="{{ _('admin.verbs.edit') }}"><i class="fa fa-pencil"></i></a>{% endif %}{% if can_create and not row.isStatic() %}<a class="btn btn-small btn-icon" href="{{ duplicate_link }}" rel="tooltip" title="{{ _('admin.verbs.clone') }}"><i class="fa fa-clone"></i></a>{% endif %}{% if deletable %}<a class="btn btn-small btn-icon btn-danger btn-remove" href="/admin/{{ table_name }}/{{ row.get('id') }}/delete" rel="tooltip" title="{{ _('admin.verbs.delete') }}" data-singular="{{ singular }}"><i class="fa fa-remove icon-white"></i></a>{% endif %}
                            </span></td>
                            
                        </tr>
                        {% else %}
                        <tr>
                            <td class="no-items" colspan="{{ columns|length + 1 }}">
                                
                                {% if (tabs|length > 1 and current_tab != default_tab) or has_filters %}
                                <p>{{ _('admin.messages.no_items_found', { resource:plural|lower }) }}</p>
                                {% else %}
                                <p>{{ _('admin.messages.no_items_added', { resource:plural|lower }) }}</p>
                                {% if can_create %}
                                <a href="/admin/{{ table_name }}/create" class="btn btn-medium"><i class="fa fa-plus icon-white"></i> {{ _('admin.common.add_resource', { resource:singular }) }}</a>
                                {% endif %}
                                {% endif %}
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
            </div> <!-- .row-fluid -->
        
        </div> <!-- .item-list -->
        
    </div> <!-- .inner -->
    
{% endblock %}

{% block bottom %}
    
    <div id="controls-fixed-bot"><div class="inner">
        
        <div class="status pull-left">
            <!-- span>Page rendered in {exec_time}s using {mem_usage}mb of memory.</span -->
        </div>
        

        <!-- div class="pagination pull-left">
            <ul>
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
            <ul>
                <li><a href="#"><i class="fa fa-list"></i> View all</a></li>
            </ul>
            <div class="clear"></div>
        </div -->
        
        {% if user.super_user %}
            <a href="/admin/{{ table_name }}/saveall" class="btn btn-large btn-info">{{ _('admin.common.save_all') }}</a>
        {% endif %}
        {% if can_create %}
        <div class="actions pull-right">

            {% if classes|length %}
                <div class="dropup pull-right">
                    <button href="/admin/{{ table_name }}/create" class="btn btn-large btn-primary dropdown-toggle"><i class="fa fa-plus"></i> Add New {{ singular }} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="nav-header">Choose a type...</li>
                        {% for className, classInfo in classes %}
                            <li><a tabindex="-1" href="/admin/{{ classInfo['table_name'] }}/create"><i class="fa fa-{{ classInfo['icon'] }}"></i> {{ classInfo['singular'] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <a href="/admin/{{ table_name }}/create" class="btn btn-large btn-primary"><i class="fa fa-plus icon-white"></i> {{ _('admin.common.add_new_resource', { resource:singular }) }}...</a>
            {% endif %}

        </div>
        {% endif %}
        
        <div class="clear"></div>

    </div></div>
    
{% endblock %}

{% block breadcrumb %}

<li><a href="{{ base_url }}">{{ dashboard_title }}</a> <span class="divider">/</span></li>
<li class="active">{{ plural }}</li>

{% endblock %}
