{% extends interface_template|default("admin/shared/interface.twig") %}

{% block html_title %}{{ _('admin.common.resource_tree', { resource:singular }) }} : {{ admin_title }}{% endblock %}

{% block main_pane %}

    {% if (not tree_is_valid) and user.super_user %}
        <div id="main-alert" class="alert warning">
            <button class="close" data-dismiss="alert">×</button>
            <p>{{ _('admin.messages.tree_corrupted') }} <br /><br /><a href="{{ admin_url('/'~table_name~'/recover-tree') }}" class="btn btn-warning">{{ _('admin.common.recover_tree') }}</a></p>
        </div>
    {% endif %}
    {% include 'admin/shared/alert.twig' %}
    
    <div class="inner">
        <h2 class="main-heading"><i class="fa fa-{{ icon }}"></i> {{ plural }}</h2>
        <div class="actions-top-right">
            {% if can_manage %}
            {% if can_import %}<a href="{{ admin_url('/'~table_name~'/import') }}" class="btn btn-success btn-permissions" title="Import data"><i class="fa fa-circle-arrow-down"></i> {{ _('admin.verbs.import') }}</a>{% endif %}
            <a href="{{ admin_url('/'~table_name~'/permissions') }}" class="btn btn-medium btn-inverse btn-permissions" title="{{ _('admin.common.edit_resource_permissions', { resource:singular|lower }) }}"><i class="fa fa-lock"></i></a>
            {% endif %}
        </div>

        <div class="clear"></div>
        
    	<div id="item-tree">
            
        </div> <!-- .item-list -->
        
        {% if num_nodes == 0 %}
        
        <div class="no-items">
            
            <p>{{ _('admin.messages.no_items_added', { resource:plural|lower }) }}</p>
            {% if can_create %}
            <a href="{{ admin_url('/'~table_name~'/create') }}" class="btn btn-medium"><i class="fa fa-plus icon-white"></i> {{ _('admin.common.add_resource', { resource:singular }) }}</a>
            {% endif %}
        
        </div>
        
        {% endif %}
        
    </div> <!-- .inner -->
    
{% endblock %}

{% block bottom %}
    
    <div id="controls-fixed-bot"><div class="inner">
        
        <div class="status pull-left">
            <!-- span>Page rendered in {exec_time}s using {mem_usage}mb of memory.</span -->
        </div>
        
        {% if can_create %}
        <!-- <div class="actions pull-right">
            <a href="{{ admin_url('/'~table_name~'/create') }}" class="btn btn-large btn-primary"><i class="fa fa-plus icon-white"></i> Add New {{ singular }}...</a>
        </div> -->
        {% endif %}
        
        <div class="clear"></div>

    </div></div>
    
{% endblock %}

{% block breadcrumb %}

<li><a href="{{ base_url }}">{{ dashboard_title }}</a> <span class="divider">/</span></li>
<li class="active">{{ plural }}</li>

{% endblock %}
