{% extends interface_template|default("admin/shared/interface.twig") %}

{% block html_title %}{{ _('admin.common.edit_common_terms') }} : {{ admin_title }}{% endblock %}
{% block frame_top %}<form action="" method="post">{% endblock %}
{% block frame_bottom %}</form>{% endblock %}

{% block main_pane %}
    
    {% include 'admin/shared/alert.twig' %}
    
    <table class="table table-striped table-bordered selectable table-hover{{ sortable ? ' sortable' : '' }}">
        
        <thead>
            <tr>
                <th><img src="{{ url('/admin/assets/img/lang/'~lang_lft~'.png') }}" class="lang-flag" /></th>
                <th><img src="{{ url('/admin/assets/img/lang/'~lang_rgt~'.png') }}" class="lang-flag" /></th>
            </tr>
        </thead>
        
        <tbody>

            {% for key, row in result_lft %}
            <tr>
                <td>
                    {{ row }}
                    <input type="hidden" name="terms[{{ lang_lft }}][{{ key }}]" value="{{ row }}" />
                </td>
                <td>
                    <input type="text" name="terms[{{ lang_rgt }}][{{ key }}]" value="{{ result_rgt[key] }}" />
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block breadcrumb %}

<li><a href="{{ base_url }}">{{ dashboard_title }}</a> <span class="divider">/</span></li>
<li><a href="{{ base_url }}/languages">{{ _('admin.common.languages') }}</a> <span class="divider">/</span></li>
<li class="active">terms</li>

{% endblock %}

{% block admin_css %}
    {{ parent() }}
    {% for css in form.assets.css %}
        <link rel="stylesheet" type="text/css" href="{% if 'http://' not in css and 'https://' not in css %}{{ url(css) }}{{ ('?' in css) ? '&' : '?' }}v=27{% else %}{{ css }}{% endif %}">
    {% endfor %}
{% endblock %}

{% block admin_js %}
    {{ parent() }}
    {% for js in form.assets.js %}
        <script type="text/javascript" src="{% if 'http://' not in js and 'https://' not in js %}{{ url(js) }}{{ ('?' in js) ? '&' : '?' }}v=27{% else %}{{ js }}{% endif %}"></script>
    {% endfor %}
    <script type="text/javascript">
        var field_settings = {{ form.js_field_settings|json_encode }};
        var field_values = {};
    </script>
{% endblock %}

{% block bottom %}
<div id="controls-fixed-bot"><div class="inner">

    <div class="actions pull-right">
        <button data-loading-text="{{ _('admin.common.saving_resource', { resource:_('admin.common.phrases') }) }}..." class="btn btn-large btn-primary submit-item" autocomplete="off" type="submit"><i class="fa fa-ok icon-white"></i> Save Phrases</button>
    </div>

</div></div>
{% endblock %}