{% extends "shared/base.twig" %}

{% block html_title %}{{ model.html_title }} {{ parent() }}{% endblock %}

{% block content %}

    <section id="top-banner" class="container">
        <div class="row">
            <div class="homepage-slider">
                <div class="flexslider">
                    <ul class="slides">
                        {% for slide in model.layout2slides %}
                            <li>
                                <img src="{{ crop_url(slide.image,1175,500,'main') }}" class="slide-img"/>
                                <div class="slide-content">
                                    <h1 class="title">{{ slide.title }}</h1>
                                    <p class="text">{{ slide.text|nl2br }}</p>
                                    <a class="cta sc inverse" href="{{ get_link(slide.cta_link) }}">{{ slide.cta_text }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {

                // Reference: http://www.woothemes.com/flexslider/
                $('.homepage-slider').flexslider({
                    animation: "slide",
                    selector: ".slides > li",
                    slideshow: true,
                    slideshowSpeed: 7000,
                    animationSpeed: 800,
                    smoothHeight: false,
                    controlNav: true, // Generates pagination
                    directionNav: true // Generates next / prev arrows
                });

            });
        </script>
    </section> <!-- outer -->

    <section class="body container">
        <div class="item-list overlay row body-top">
            {% for item in model.first_section %}
                <a href="{{ get_link(item.link) }}" class="item">
                    <figure>
                        <img src="{{ crop_url(item.image,400,300,'main') }}" />
                        <figcaption>{{ item.text }}</figcaption>
                    </figure>
                </a>
            {% endfor %}
        </div>
        <nav class="breadcrumbs">
            <ul>
                <li class="on"><a href="#">Alternative navigation</a></li>
                <li><a href="#">Another link</a></li>
                <li><a href="#">Another link</a></li>
                <li><a href="#">Another link</a></li>
                <li><a href="#">Another link</a></li>
                <li><a href="#">Another link</a></li>
            </ul>
        </nav>

        <div class="block-heading">
            <div>
                {% if model.second_section_title %}<h3 class="heading {{ model.second_section_intro?'with-intro':'' }}">{{ model.second_section_title }}</h3>{% endif %}
                <a href="#">All items</a>
            </div>
        </div>
        <div class="item-list row body-middle">
            {% for item in model.second_section %}
                <a href="{{ get_link(item.link) }}" class="item">
                    <figure>
                        <img src="{{ crop_url(item.image,400,250,'smaller') }}" />
                        <figcaption>{{ item.text }}</figcaption>
                    </figure>
                </a>
            {% endfor %}
        </div>
        <div class="item-list body-bottom">
            <div class="row">
                {% for item in model.third_section %}
                    <div class="item" data-height-group="1">
                        <h3 class="heading">{{ item.title }}</h3>
                        <p class="text">{{ item.text }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section> <!-- body -->

{% endblock %}