<div class="controls control-group field-type-gallery-inline" data-field-name="{{ settings.mapping.fieldName }}">
<div class="gallery-inner">
<label class="item-label"><i class="icon icon-{{ icon }}"></i> &nbsp;{{ settings.title }}</label>


<!-- We need to output different templates for any different types that can be added -->
{% for template_type, template_content in templates %}
<div class="item-template" data-type="{{ template_type }}">
	<div class="item-title">
		<h3><i class="icon icon-{{ template_content.icon }}"></i> New {{ template_content.singular }}</h3>
	</div>
	<div class="item-content">
		{% if sortable %}{{ form.hidden_fields.pos }}{% endif %}
		<input type="hidden" name="{{ template_content.prefix }}[__type__]" value="{{ template_type }}" />
		{% for field_name, field in template_content.fields %}
		{{ field }}
		{% endfor %}
	</div>
</div>
{% endfor %}

<input type="hidden" name="{{ settings.mapping.fieldName }}" value="" />
<!-- Output the items -->
<div class="gallery-items" data-field-name="{{ settings.mapping.fieldName }}">
	{% for row in rows %}
	<div class="gallery-item selectable">
		{{ row.hidden_fields.id }}
		<img src="/image/1/0/90/{{ row._model_.get(settings.filefield).src }}" />
		<label><span><input type="checkbox" /></span></label>
		<a href="#" class="edit-link"><span><i class="icon icon-cog"></i> Edit</span></a>
		<div class="item-form">
			{% for field_name, field in row.fields %}
			{{ field }}
			{% endfor %}
		</div>
	</div>
	{% endfor %}
	<div class="gallery-item">
		<a href="#" class="img action"><i class="icon icon-plus"></i> &nbsp;Add...</a>
	</div>
	<div class="clear"></div>
</div> <!-- .items -->

<div class="gallery-controls">
	<div class="selected-actions">
		<span class="btn btn-small btn-remove-selected"><i class="icon icon-remove icon-danger"></i> &nbsp;Remove selected...</span>
	</div>
</div>

</div>
</div>