<table class="table table-striped table-hover table-bordered{{ rows|length == 0 ? '' : ' populated' }}" style="min-width:{{ cols|length * 160 }}px;">
	<tr >
		{% for col in cols %}
		<th class="{{ loop.index == 1 ? 'first' : '' }}">{{ form.fields[col].title }}</th>
		{% endfor %}
		<th class="actions"></th>
	</tr>
	<tr class="item-template">
		{% for field_name, field in template %}
		<td class="col-type-{{ form.fields[field_name].field_type }}{{ loop.index == 1 ? ' first' : '' }}">{{ field }}</td>
		{% endfor %}
		<td class="actions"><a href="#" class="btn btn-small btn-remove"><i class="icon icon-remove"></i></a></td>
	</tr>
	{% for row in rows %}
	<tr class="item">
		{% for field_name, field in row.fields %}
		<td class="col-type-{{ form.fields[field_name].field_type }}{{ loop.index == 1 ? ' first' : '' }}">{{ field }}</td>
		{% endfor %}
		<td class="actions">
			{{ row.hidden_fields.id }}
			<a href="#" class="btn btn-small btn-remove"><i class="icon icon-remove"></i></a>
		</td>
	</tr>
	{% endfor %}
	<tr class="no-items-row">
        <td class="no-items" colspan="{{ cols|length + 1 }}">
            
            <p>There are no {{ plural|lower }} added yet.</p>
            {% if not superlock %}
            <a href="#" class="btn-add btn btn-medium"><i class="icon-plus icon-white"></i> Add {{ singular }}...</a>
            {% endif %}
        
        </td>
    </tr>
</table>
<div class="widget-actions-top">
	<a href="#" class="widget-action icon btn-add" title="Add {{ singular|lower }}"><i class="icon icon-plus"></i></a>
</div>
<div class="widget-footer">
	<div class="widget-actions-bottom">
		<a href="#" class="widget-action btn-add last"><i class="icon icon-plus"></i> Add {{ singular|lower }}</a>
	</div>
</div>