<script type="text/javascript">
    
    if (typeof(inlines) == 'undefined') { inlines = {}; }
    
    inlines['{{ data.field_id }}'] = {
        'plural': '{{ config.plural }}',
        'singular': '{{ config.singular }}',
        'inline_fields': {{ config.inline_fields|json_encode }},
        'fieldName': '{{ data.fieldName }}'
    };
    
</script>
<h3>{{ data.title }}</h3>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            {% for field in config.inline_fields %}
            <th {% if data.blank.hydrated_config.fields[field].field_object.get_type() == 'select' %}width="10"{% endif %}>{{ config.fields[field].title }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="child-template">
            {% for field in config.inline_fields %}
            <td>
                {% if loop.index == 1 %}
                <input type="hidden" value="{{ data.source_id }}" data-name="{{ data.fieldName }}[%num%][{{ data.target_field }}]" />
                {% endif %}
                <div class="control-group field-type-{{ data.blank.hydrated_config.fields[field].field_object.get_type }}-inline">
                    {{ data.blank.hydrated_config.fields[field].field_object.display_inline() }}
                </div>
            </td>
            {% endfor %}
            <td class="actions" width="10">
                <a class="btn btn-danger btn-remove" href="#"><i class="icon-remove icon-white"></i></a>
            </td>
        </tr>
        {% for value in data.value %}
        <tr>
            {% for field in config.inline_fields %}
            <td>
                {% if loop.index == 1 %}
                <input type="hidden" name="{{ value.hydrated_config.fields[data.target_field].field_object.data.fieldName }}" value="{{ value.hydrated_config.fields[data.target_field].value }}" />
                <input type="hidden" name="{{ data.fieldName }}[{{ loop.parent.loop.index - 1 }}][id]" value="{{ value.get('id') }}" />
                {% endif %}
                
                {% set attributes = value.hydrated_config.fields[field].field_object.get_attributes() %}
                <div class="control-group {{ attributes.class }} field-type-{{ value.hydrated_config.fields[field].field_object.get_type }}-inline">
                    {{ value.hydrated_config.fields[field].field_object.display_inline() }}
                </div>
            </td>
            {% endfor %}
            <td class="actions" width="10">
                <a class="btn btn-danger btn-remove" href="#"><i class="icon-remove icon-white"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="child-controls">
    <a href="#" type="submit" class="btn btn-add"><i class="icon-plus"></i> <span>Add another {{ config.singular }}</span></a>
</div>